body{
    background-color: orange;
}
#header {
    background-color: bisque;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    
}
#header-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#header-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button {
    height: 40px;
    width: 100px;
    font-size: 18px;
    border: none;
}
#omega{
   font-size: 50px;
}
.link{
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 7px;
}
a{
    text-decoration: none;
    color: black;
}